# Dependencies
node_modules/
package-lock.json

# Build output
_site/
dist/

# Cache
.cache/
.eleventy-cache/

# Environment variables
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db 