<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-copyright">
        &copy; {{ '' | date('yyyy') }} Montele v4. All rights reserved.
      </div>
      <div class="footer-links">
        {% include "partials/navigation.njk" %}
      </div>
    </div>
  </div>
</footer> 