<header class="site-header">
  <div class="container">
    <div class="site-branding">
      <a href="/" class="site-logo">Montele v4</a>
    </div>
    
    {% include "partials/navigation.njk" %}
  </div>
</header> 